* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;

}


.superior{
    width: 100%;
    height: 60px;
    background-color: rgba(226, 211, 211, 0.808);
}


.botao-tanque{
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 20px;
}

.botao-tanque a{
    text-decoration: none;
}

.botao-sair{
    display: flex;
    justify-content: start;
    margin-left: 20px;
    margin-top: -45px;
}

.botao-sair a{
    text-decoration: none;
}

.botoes span{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: bold;
    background: linear-gradient(#520606 25%, #790202 70%);
    color: rgb(255, 255, 255);

    cursor: pointer;
    transition: 0.4s;
}


.botoes:hover{
    transform: translateY(-1px);
}



.main {
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
}


.kpis {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.kpi {
    width: 23%;
    padding: 20px;
    border-radius: 12px;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ffffff, #ffffff);

    transition: 0.1s;
}

#legenda{
    margin-top: 10px;
    font-size: 12px;
}

.sombra-preta{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.479);
    border: 1px solid #000000
}

.sombra-vermelha{
    box-shadow: 0px 6px 15px #a31515;
    border: 1px solid #a31515
}

.sombra-amarela{
    box-shadow: 0px 6px 15px #cfc50a;
    border: 1px solid #cfc50a
}

.sombra-verde{
    box-shadow: 0px 6px 15px #1abc3a;;
    border: 1px solid #1abc3a;
}

.kpi:hover {
    transform: scale(1.02);
}

.kpi-title {
    font-size: 15px;
    font-weight: bold;
}


.kpi-value {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.kpi-value1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    justify-content: centera;
}

.kpi-hora{
    font-size: 15px;
    margin-top: 10px;
}

.kpi img {
    width: 35px;
    margin-top: 10px;
}

span {
    color: rgb(0, 0, 0);
}

.sinal {
    margin-top: 5px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
}



.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    margin-top: 50px;
}


.charts {
    display: flex;
    gap: 20px;
    width: 100%;
}

.titulo {
    margin-bottom: 5px;
    font-weight: bold;
}

.chart-um {
    flex: 3;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    padding: 30px;
    border-radius: 12px;
    height: 320px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.432);
    border: solid 2px #520606;
}

.chart-dois {
    flex: 1;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.479);
    padding: 30px;
    border-radius: 12px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #520606;
}


/* Campo de Pesquisa dos Tanques */
.pesquisa {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* .pesquisa input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff4d4d;
    background: #2a0a0d;
    color: white;
} */

/* .pesquisa button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pesquisa button:hover {
    background-color: #c43636;
} */



/* Parte do bobIA */
#bobIa_section {
    position: fixed;
    /* Fixa o elemento na janela do navegador */
    bottom: 30px;
    /* Distância da borda inferior da tela */
    right: 30px;
    /* Distância da borda direita da tela */
    z-index: 9999;
}


#circulo_info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: 0.3s ease;
    background-color: #ececec;
    border: 3px dashed #a00000;
    cursor: pointer;
}

#circulo_info:hover {
    transform: translateY(-5px);
}


#circulo_info img {
    width: 35px;
}

#chat_bobIa {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    height: 530px;
    width: 430px;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    border: 3px solid #740000;
}

#head_chat{
    background-color: rgb(210, 210, 210);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#head_chat span{
    font-size: 25px;
    font-weight: bold;
    color: #420505;
}

#sair_chat{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: #420505;
}

#resposta{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 80%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    padding: 3px;
    overflow-y: auto;
    margin-bottom: 40px;
}

#pergunta{
    width: 280px;
    height: 30px;
}

#enviar_pergunta_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin: 5px 10px;
}

#botao_chat{
    color: #e0e0e0;
    background-color: #990000;
    height: 35px;
    width: 75px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #ececec;
    transition: 0.3s ease;
    cursor: pointer;
}


.pergunta_user{
    background-color: #EAEFF2;
    color: #2C3E50;
    width: 80%;
    min-height: fit-content;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 5px;
    font-weight: bold;
}


.resposta_chat{
    background-color: #D4E2D4;
    color: #2D3E2D;
    width: 80%;
    min-height: fit-content;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    padding: 5px;
    font-weight: bold;
}









