* {
    font-family: 'Montserrat';
}

#chartCO2_1,
#chartCO2_2 {
    background-color: #2d0c0c;
    border-radius: 30px;
    color: #f4f4f4;
    margin-top: 30px;
    padding: 10px;
}

.chartContainer {
    width: 45vw;
    height: 50vh;
}

.containerSensor {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin-left: 20px;
}

.containerCharts {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.titleChart {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    color: #f4f4f4;
    width: 100vw;
    margin: 0 0 30px 0;
    left: 0;
    background-color: #2d0c0c;
}

.kpisContainer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f4f4f4;
}

.cardKpi{
    width: 23vw;
    padding: 40px;
    font-size: 20px;
    height: 30vh;
    margin: 20px 1vw;
    background-color: #2d0c0c;
    border-radius: 30px;
}