*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

/* MAIN CONTENT CSS */

.containerContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.mainContent{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mainText{
    padding: 30px;
    width: 40%;
}

.contentImage{
    width: 36.5%;
}

.mainText > button{
    background-image: linear-gradient(to right, #520606, #910000);
    width: 14%;
    height: 8%;
    color: #f4f4f4;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

.mainText > button:hover{
    cursor: pointer;
    background-color: #f4f4f4;
    border: solid 2px #520606;
}

.mainText > button:active{
    color: #520606;
    background-image: none;
    background-color: #f4f4f4;
    border: solid 3px #520606; 
}


.mainTitle{
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 28px;
}

.contentText{
    line-height: 1.3;
    margin-bottom: 30px;
}

.mainTitle > h1 > span{
    background-image: linear-gradient(to right, #520606, #910000);
    color: #f4f4f4;
    padding: 2px;
}



.contentCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

.card{
    width: 25%;
    height: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border: solid 2px #520606;
    border-radius: 30px;
    margin: 20px 5px;
}

.card > h3{
    margin-bottom: 10px;
    font-size: 28px;
}

.card > img{
    width: 15%;
    margin-bottom: 20px;
}


/* style.login */

body {
  font-family: Arial;
  height: 100vh;
  display: flex;
  margin: 0;
}

/* .container{
  background-color: rgb(228,228,228);
  width: 75%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
} */

.esquerda {
  width: 50%;
  background: 
    linear-gradient(rgba(65, 6, 6, 0.85)),
    url("vinho.png");
  background-size: cover;
  background-position: center;
  color:white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.texto1{
  font-size: 32px;
  font-weight: bold;
}

.login {
  position: relative;
  width: 50%;
  background-color: #ffffff;
  flex-direction:column ;
  display: flex;
  padding: 120px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #525252;
}


.login h2 {
  width: 14%;
  font-size: 28px;
  background: linear-gradient(to right, #4e0606, #750d0d);
  color: white;          
  padding: 12px 30px; 
  text-align: center;
}

.formulario .campo {
  margin-bottom: 15px;
  text-align: left;
}

.formulario .campo span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
}

.formulario input {
  width: 90%;
  padding: 8px 10px;
  border: 1.5px solid #031114;
  border-radius: 6px;
  font-size: 14px;
  text-align: left;
}


.botao {
  width: 20%;
  padding: 12px 0;
  background: linear-gradient(to right, #4e0606, #750d0d);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  position: absolute;
  top: 450px;  
  left: 35%;  
}

.cadastre{
  position: absolute;
  top: 480px;  
  left: 29%;  
}
