* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}


.sair{
    position: absolute;
    top: 20px;
    left: 20px;
}

.sair a{
    text-decoration: none;
}

.sair button{
    background-color: #5a0a0a;
    color: white;
    border-radius: 10px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.sair button:hover{
    transform: translateY(-1px);
}

.conteudo-cadastro {
    width: 420px;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(135deg, #3b0000, #7a1010);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.cadastro-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-titulo h1 {
    color: white;
    font-size: 28px;
    text-align: center;
}

.inputs-cadastro,
.input-capacidade,
.status-uso {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

span {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

input,
select {
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 12px;
    font-size: 15px;
    outline: none;

    background-color: rgba(255, 255, 255, 0.12);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

select option {
    color: black;
}

input:focus,
select:focus {
    border: 2px solid #d62828;
}

.botao-salvar {
    height: 48px;
    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #8b1a1a, #a31515);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.botao-salvar:hover {
    background: linear-gradient(135deg, #a31515, #c71f1f);
}